<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define productVersion      = "0.1"?>
  <?define productFullVersion  = "0.1.0.0"?>
  
  <Product Id="5bfa7780-726c-4eb5-b3f8-9623c6f06cdb"
           Name="NetWebScript $(var.productVersion)"
           Language="1033"
           Version="$(var.productFullVersion)"
           Manufacturer="netwebscript.codeplex.com"
           UpgradeCode="e4e90e53-ae7c-479c-829c-4b523b378dcb">
    
    <Package
      InstallerVersion="300"
      Compressed="yes" />
    
    <!-- Check For .NET 4 Full -->
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="This setup requires the .NET 4.0 Full Framework to be installed.">
      Installed OR NETFRAMEWORK40FULL
    </Condition>

    <!-- Check for Visual Studio 10 -->
    <PropertyRef Id="VS2010DEVENV" />
    <PropertyRef Id="VS2010_PROJECTTEMPLATES_DIR" />
    <CustomActionRef Id="VS2010InstallVSTemplates" />
    
    <!-- NetWebScript can be installed only for all users -->
    <Property Id="ALLUSERS">1</Property>
    
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="Complete" 
             Title="NetWebScript"
             Level="1"
             InstallDefault="local"
             Absent="disallow"
             ConfigurableDirectory="INSTALLDIR">

      <ComponentRef Id="NetWebScript.MetadataGAC" />
      <ComponentRef Id="NetWebScript.CoreGAC" />
      <ComponentRef Id="NetWebScript.Runtime" />
      <ComponentRef Id="NetWebScript.Compiler" />
      <ComponentRef Id="NetWebScript.Debugger" />
      <ComponentRef Id="NetWebScript.DebuggerApp" />
      <ComponentRef Id="NetWebScript.Licenses" />
      <ComponentRef Id="NetWebScript.Shortcuts" />
      <Feature
        Id="NetWebScript.VS2010"
        Title="Visual Studio 2010 Integration"
        Level="1"
        InstallDefault="local">
        <Condition Level="0">
          NOT VS2010DEVENV
        </Condition>
        <ComponentRef Id="NetWebScript.VSEngine" />
        <ComponentRef Id="NetWebScript.VSUnitTest" />
        <ComponentRef Id="NetWebScript.VSTemplates" />
      </Feature>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
    
    <UIRef Id="WixUI_FeatureTree"/>
    
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <!-- Install templates after files installation -->
    
    <!--<CustomAction Id="InstallVSTemplates" Property="VS10DEVENVEXE" ExeCommand="/InstallVSTemplates" Impersonate="no" Execute="deferred" />-->
    <InstallExecuteSequence>
      <Custom Action="VS2010InstallVSTemplates" Before="InstallFinalize">VS2010DEVENV&lt;&gt;"" AND NOT (!NetWebScript.VS2010 = -1)</Custom>
    </InstallExecuteSequence>


  </Product>
</Wix>
